body {
    margin: 0;
    padding: 0;
    background-image: url("./images/petr-sevcovic-cafebg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Arial";
}

/* Navigation styles ------------------------------------------------------------------------------------------------*/
#nav_bar {
    background-color: rgb(21, 18, 14);
    padding-top: 15px;
    padding-bottom: 10px;

    display: flex;
    align-items: center; /* vertical axis*/
    justify-content: space-between; /* horizontal axis*/

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#nav_logo {
    font-size: 45px; 
    font-weight: bold;
    margin-left: 25px;
    color:lightgreen;
}
    
ul {
    margin-right: 25px;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    font-size: 25px; 
    color: white;
}

li:hover {
    /* text-decoration: underline; */
    color: lightgreen;
    /* border-bottom: 2px solid lightgreen; */
}

/* Footer Styles ------------------------------------------------------------------------------------------------*/

#footer_container {
    background-color: rgb(21, 18, 14);
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

#note_one {
    color: white;
    font-size: 15px;
}

/* Home page styles ------------------------------------------------------------------------------------------------*/

#home_container {
    background: rgb(21, 18, 14, 0.85);
    /* opacity: 0.85; */

    margin-top: 27vh;
    padding-top: 20px;
    padding-bottom: 25px;
    
    text-align: center;
}

#home_header, #home_motto, #home_description {
    color: white;
}

#home_header{
    font-size: 55px;
    margin-bottom: 0;
}

#home_motto{
    font-size: 30px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

    color: lightgreen;
}

#home_description {
    width: 600px;
    margin: 15px auto;
    
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Drinks/Pastries Page Styles ------------------------------------------------------------------------------------------------*/

#menu_container, #contactpage_container { /*id also in pastries page*/
    background: rgb(21, 18, 14, 0.85);
    /* opacity: 0.85; */

    margin-top: 27vh;
    margin-bottom: 27vh;
    padding-top: 20px;
    padding-bottom: 25px;
    
    text-align: center;
}

#drinks_header, #drinks_header2, #pastries_header, #contactsupport_header, #feedback_header, #location_header{
    color: white;
    font-size: 55px;
}

.item_id{ /*container for green tea, black tea, lemonade items*/
    color: white;
    font-size: 30px;

    width: 45vw;
    margin: 5px auto; /* 5px top bottom and auto between for centering container*/
    /* text-align: left; */
}

.item_head {
    display: flex;
    align-items: center; /* vertical axis*/
    justify-content: space-between; /* horizontal axis ; puts the name and price on the respective ends of greatea head*/ 
    /* font-family:'Times New Roman', Times, serif; */
}

.item_name {
    white-space: nowrap; /*stop things from going to next line if container width not big enough*/
    overflow: hidden;     /*doesn't add a scrollbar when things in a container are more than the size of the container width; overflow none just cuts it off*/
}

.item_name::after {
    content: ".................................................................................................................................";
}

.item_price {
    color: lightgreen;
}

.item_description {
    font-size: 20px;
    /* font-style: italic; */
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: left;
    width: 90%;
    margin-left: 3%;
}

.item_image{
    border-radius: 15px;
    /* height: auto; */
}

/* Contact Page Styles ------------------------------------------------------------------------------------------------*/
#contactsupportphone, #contactsupportemail {
    color: white;
    font-size: 30px;

    width: 450px;;
    margin: 5px auto; 

    display: flex;
    align-items: center; /* vertical axis*/
    justify-content: space-between; /* horizontal axis ; puts the name and price on the respective ends of greatea head*/ 
}


#locationaddress, #businesshours  {
    color: white;
    font-size: 30px;

    width: 500px;;
    margin: 5px auto; 
}

#locationaddress_map {
    margin-top: 15px;
    margin-bottom: 15px;
}

#businesshours_desc1, #businesshours_desc2 {
    display: flex;
    align-items: center; /* vertical axis*/
    justify-content: space-between; /* horizontal axis */
    margin-left: 15%;
    margin-right: 15%;
}

#feedback_form {
    color: white;
    border-style: solid;
    width: 400px;
    padding: 25px;
    text-align: left;


    margin-left: auto;
    margin-right: auto;
    padding: 50px;

    border-style: dotted;
}

label {
    font-size: 30px;
}

input, textarea {
    width: 95%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 7px;
    border-style: none;
}

#feedback_submit {
    background-color: lightgreen;
    width: 150px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    border-style: none;
    opacity: 1;
    margin-top: 10px;

    color: white; /*make text color white*/
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

#feedback_submit:hover {
    background-color: rgb(32, 210, 32);
    box-shadow: 0px 0px 10px 10px lightgreen;
}

#contactsupportphone_number, #contactsupportemail_addr, #locationaddress_desc, #businesshours_desc_time1 {
    color: lightgreen;
}

#businesshours_desc_time2 {
    color: rgb(179, 24, 24);
}


#locationaddress_head, #businesshours_head {
    /* width: 500px;  */
    white-space: nowrap;
    overflow: hidden;
    /* text-align: center; */
}

 #businesshours_head::before {
    /* left: 50%; */
    content: ".................."
}

#locationaddress_head::before, #locationaddress_head::after, #businesshours_head::after {
    content: "......................"
}